*~
.DS_Store
/target/
/.settings/
/.project/
/.classpath/
/bin/
*.class
*.iws
*.iml
*.ipr
.idea
*.bak
*.classpath
*.project
*.settings
target
bin
*.log*
*.mymetadata
*.data
*.index
/.idea/
node_modules
/ node_modules/
eclipse/*.launch
*.launch
*.factorypath
.factorypath
*.springBeans
.springBeans
/.springBeans/
/data/
indexPage.html
/dist/
*.xcuserdata
/xcuserdata/
xcuserdata
*.build
/build/
build
/.gradle/
.gradle
local.properties
/node_modules/
package-lock.json
